# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. ggplot

# Data Science Tools

1. Visual Studio Code

2. RStudio

3. IBM Watson Studio

4. Jupyter Notebook

# Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
x = 10
y = 5

print("Addition is: ",x+y)
print("Subtraction is: ",x-y)
print("Mutliplication is: ",x*y)
print("Divivsion is: ",x/y)
print("Modulus is: ",x%y)

Addition is:  15
Subtraction is:  5
Mutliplication is:  50
Divivsion is:  2.0
Modulus is:  0

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

min_time = int(input("Enter the number of minutes: "))

hr_time = min_time/60

print(min_time, "in hours is: ",hr_time)

Enter the number of minutes: 200
200 in hours is:  3.3333333333333335

**Objectives:**
- Jupyter Notebook
- Python Kernel
- Arithmetic Operations

## Author
Om Valia